<center>
  <div class="footer-bottom">
    Created with Love by <a href="http://linkedin.com/in/pdahal">Puru Dahal</a> <br>
    <a href="http://github.com/dahal/short.ie" target="_blank"><img src="http://bustinbash.github.io/images/icons/github.png"></a>
  </div>
</center>