<center>
  <form class="form-inline" role="form">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">Long Url</div>
        <input class="form-control input-lg" name="long_url" placeholder="http://longesturl.com">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">Short.ie/</div>
        <input class="form-control input-lg" name="short_url" placeholder="Optional">
      </div>
    </div>
    <button type="submit" class="btn btn-lg btn-default">Submit</button>
  </form>
</center>