<% @urls.each do |url| %>
  <div class="panel panel-default col-md-4">
    <div class="panel-body ">
      <a class="pop" href="<%= shortified(url) %>" target="_blank" data-content="<%= url.long_url %>" rel="popover" data-placement="top" data-trigger="hover"  data-original-title="" title=""><%= shortified(url) %></a>
    </div>
  </div>
<% end %>