<div class="panel panel-default col-md-4">
  <div class="panel-body ">
    <center>
      <a id="popover" href="http://google.com" data-content="http://google.com/long-ass-link" rel="popover" data-placement="top"data-trigger="hover">Short.ie/hYt7H</a>
    </center>
  </div>
</div>