<!-- URL Template -->
<script id="url-template" type="text/x-handlebars-template">
  <div class="panel panel-default col-md-4">
    <div class="panel-body ">
      <center>
        <a class="pop" href="{{shortUrl}}%>" target="_blank" data-content="{{longUrl}}" rel="popover" data-placement="top" data-trigger="hover" data-original-title="" title="">{{shortUrl}}</a>
      </center>
    </div>
  </div>
</script>