*{
  font-family: "Lucida Bright", Georgia, serif;
}
a{
  color: #e74c3c;
}

.header-top{
  padding: 10em 2em 8em 2em;
  width: 100%;
  background-color: #e74c3c;
}

.logo-text{
  font-size: 2em;
}

.recent{
  margin-top: 3em;
}