*{
  font-family: "Lucida Bright", Georgia, serif;
}
a{
  color: #1abc9c;
}

.header-top{
  padding: 8em 2em 8em 2em;
  width: 100%;
  background-color: #2c3e50;
}

.logo-text{
  font-size: 2em;
}

.center{
  text-align: center;
}

.recent{
  margin-top: 3em;
}

.intro{
  font-size: 60px;
  color: white;
  text-align: center;
  padding-bottom: 0.3em;
}

input.error{
  border: 3px solid;
  color: #e74c3c;
}

.alert {
  position: absolute;
  z-index: 999999;
  width: 400px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.pop{
  text-align: center;
}