*{
  font-family: "Lucida Bright", Georgia, serif;
}
a{
  color: #e74c3c;
}

.header-top{
  padding: 10em 2em 8em 2em;
  width: 100%;
  background-color: #e74c3c;
}

.logo-text{
  font-size: 2em;
}

.center{
  text-align: center;
}

.recent{
  margin-top: 3em;
}

.intro{
  font-size: 60px;
  color: white;
  text-align: center;
  padding-bottom: 0.3em;
}